:root {
  --icon-color: #019dd5;
  --text-color: #464646;
}

div.schedule {
  display: flex;
  align-items: center;
  /* margin: 1rem; */
  min-width: 5rem;
  width: 100%;
  max-width: 10rem;
  height: 4rem;
}

div.schedule svg {
  color: var(--icon-color);
  width: 1.5rem;
  min-width: 2.5rem;
  padding: 0.5rem;
}

div.dateText p {
  color: var(--text-color);
  margin: 0;
}

div.dateText p:first-of-type {
  text-transform: uppercase;
  font-size: 0.8rem;
}
