:root {
  --header-text-color: #004596;
}

header.header {
  padding: 0;
  margin: 0;
  padding-inline: 2.5%;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;
}

div.logo,
a.navItem,
a.loginItem,
a.user {
  color: var(--header-text-color);
}

header.header div.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}

div.logo img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  max-width: 30%;
}

a.navItem {
  font-weight: 500;
}

div.profileSec {
  font-weight: 600;
  min-width: 10rem;
  text-align: right;
}

a.navItem,
a.loginItem,
a.user {
  text-decoration: none;
}

div.profileSec p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  header.header {
    padding-inline: 10%;
    flex-direction: row;
  }
}
