:root {
  --bg-color: #00b9ff;
  --bg-color-disable: #919191;
}

.button {
  background-color: var(--bg-color);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  outline: none;
  min-width: 10rem;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: var(--bg-color-disable);
  color: #eeeeee;
  cursor: auto;
}
