:root {
  --icon-color: #019dd5;
  --text-color: #656565;
}

div.detail {
  display: flex;
  align-items: center;
  /* margin: 1rem; */
  min-width: 5rem;
  width: 100%;
  max-width: 10rem;
  height: 4rem;
}

div.detail svg {
  color: var(--icon-color);
  width: 1.5rem;
  min-width: 2.5rem;
  padding: 0.5rem;
}

div.detail p {
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
